input[type="radio"]:checked+label
{ 
	font-weight: bold; 
} 

input[type="radio"][iscorrect="yes"]:checked+label
{ 
	background-color: #74d455;
} 

input[type="radio"][iscorrect="no"]:checked+label
{ 
	background-color: #e8574d;
} 